<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <title>Index</title>
    <style>
        #result {
            background-color: black;
            color: white;
        }
    </style>
</head>

<body>
    <div id="result">

    </div>
    <button onclick="ajax()">Submit</button>
    <script>
        var obj={};
        function ajax() {
                $.ajax({
                    type: 'GET',
                    crossDomain: true,
                    contentType: 'application/json',
                    url: "http://localhost:8081/message",
                     success: function (result) {
                        obj=result;
                        $("#result").html("Message Code:"+obj.messageCode+"<br>Message Description:"+obj.messageDesc);
                    },
                    error: function(err){
                        console.log(err);
                    }
                    
                });

            }
    </script>
</body>

</html>